{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    {% block body %}
    <div class="home-text">
        <h2>Anasayfa</h2>
        <br>
        <hr>
        <br>
        <br>
        <p>Sosyal Medya uygulamama hoşgeldiniz..</p>
        <br>
        <p>Üye olmadıysanız <a href="{% url 'user:register' %}"> buraya</a> tıklayarak üye olabilirsiniz </p>
    </div>
    {% endblock body %}
        

</body>
</html>