{% extends 'layout.html' %}
{% load static %}


{% block body %}
    <h2 class="header-text">Kullanıcı profili</h2>
    <hr>
    <br>
    <img class="profile-photo" src="{% static 'img/placeholder.png' %}" alt="Profile Photo">
    <br>
    <br>
    
    <div class="follower">
        <div class="text-container">
            <p class="follower-text">Takipçi: {{ followers_count }}</p>
            <p class="follow-text">Takip: </p>
        </div>
        <a class="follow-button" href="">Takip et</a>        
    </div>
    <br>

    <hr>
    <p class="profile-text">Kullanıcı adı : &nbsp; {{author.username}} </p>
    <p class="profile-text">Kayıt olma tarihi : &nbsp; {{registiration_date}} </p>
    <hr>
    <br>
    <p class="total-post">Toplam {{ posts|length }} gönderi</p>
    <br>
    
    <h4 class="header-text">Kullanıcının gönderileri</h4>
    <hr>
    {% if posts %}
    {% for post in posts %}
    <br>
    <div class="row">
        <div class="col-lg-8 text-align">
            <p><div class="text-muted fst-italic mb-2"> {{ post.author.username }} </div></p>
            <p><div class="post-detail">{{ post.content }} </div></p>
            <p><div class="text-muted fst-italic mb-2"> Oluşturulma tarihi : {{post.created_date}} </div></p>
            <hr>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <div class="alert alert-danger">Henüz gönderi yok.</div>
    {% endif %}
{% endblock body %}
    