{% extends 'layout.html' %}


{% block body %}
    <h2>Gönderiler</h2>
    <hr>
    <br>
    
    {% if posts %}
        <div class="post-list">
        {% for post in posts %}
            <div class="row">
                
                    <div class="col-lg-8 text-align">
                        <p><div class="text-muted fst-italic mb-2">Yazar : {{post.author.username}} </div></p>
                        <br>
                        <a class="post-detail" href=""><p class="post-content" href="">{{post.content}} </p></a>
                        <br>
                        <p><div class="text-muted fst-italic mb-2">Oluşturulma tarihi : {{post.created_date}} </div></p>
                        <br>
                        <hr>
                        <br>
                    </div>
                
                
            </div>
        {% endfor %}
    </div>
  
    {% else %}
    <div class="alert alert-danger">Henüz gönderi yok.</div>
    {% endif %}
        
{% endblock body %}
    