.navbar {
    background-color: #be6123 !important;
}

::selection {
    background-color: #be6123;
    color: #fff;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    transition: 0.3s;
    border-radius: 40px;
    margin-left: 10px;
}

.nav-link:hover {
    background-color:#ffffff!important ;
    border-radius: 40px;
    color: #be6123 !important;
}

.home-text {
    text-align: center;
    margin-top: 100px;
}

.row {
    align-items: center !important;
    justify-content: center;
    text-align: center;
}

.form-items {
    align-items: center !important;
    justify-content: center;
    text-align: center;
}

.register-form-button {
    background-color: #fff !important;
    color: #be6123 !important;
    border: #be6123 1px solid !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 50px;
    transition: 0.3s;
}

.register-form-button:hover {
    background-color: #be6123 !important;
    color: #fff !important;
}

.login-form-button {
    background-color: #fff !important;
    color: #2359be !important;
    border: #2359be 1px solid !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 50px;
    transition: 0.3s;
}

.login-form-button:hover {
    background-color: #2359be !important;
    color: #fff !important;
}

.form {
    
    width: 300px !important;
}

.form-control {
    border-radius: 50px !important;
    border: #be6123 1px solid;
}

.form-input {
    border: #2359be 1px solid;
}

.fa-solid {
    margin-right: 9px;
}

.post-list .text-align {
    text-align: left !important;
}

.post-detail {
    font-size: 20px !important;
    color: #3b3b3b;
    text-decoration: none !important;
    margin-bottom: 80px !important;
}


