* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #be6123 !important;
}

::selection {
    background-color: #be6123;
    color: #fff;
}

.navbar-brand {
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    transition: 0.3s;
    border-radius: 40px;
    margin-left: 10px;
}

.nav-link:hover {
    background-color:#ffffff!important ;
    border-radius: 40px;
    color: #be6123 !important;
}

.home-text {
    text-align: center;
    margin-top: 100px;
}

.row {
    align-items: center !important;
    justify-content: center;
    text-align: center;
}

.form-items {
    align-items: center !important;
    justify-content: center;
    text-align: center;
}

.register-form-button {
    background-color: #fff !important;
    color: #be6123 !important;
    border: #be6123 1px solid !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 50px;
    transition: 0.3s;
}

.register-form-button:hover {
    background-color: #be6123 !important;
    color: #fff !important;
}

.login-form-button {
    background-color: #fff !important;
    color: #2359be !important;
    border: #2359be 1px solid !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 50px;
    transition: 0.3s;
}

.login-form-button:hover {
    background-color: #2359be !important;
    color: #fff !important;
}

.form {
    
    width: 300px !important;
}

.form-control {
    border-radius: 50px !important;
    border: #be6123 1px solid;
}

.form-input {
    border: #2359be 1px solid;
}

.fa-solid {
    margin-right: 9px;
}

.post-list .text-align {
    text-align: left !important;
}

.post-detail {
    font-size: 20px !important;
    color: #3b3b3b;
    text-decoration: none !important;
    margin-bottom: 80px !important;
}


.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    left: auto;
    z-index: 10000;
    
}

.nav-item.dropdown:hover .dropdown-menu {
    background-color: #333;
    display: block;
    right: 0;
    left: auto;
    z-index: 10000;
}

.nav-item.dropdown:hover .dropdown-menu {
    background-color: #333;
    display: block;
}

.nav-item.dropdown {
    position: relative;
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    color: #fff;
    background-color: #474747;
}

.header-text {
    text-align: center;
}

.profile-text {
    text-align: center;
}

.profile-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    border-radius: 60px;
}

.profile-photo-navbar {
    border-radius: 40px;
    height: 40px;
}

.add-post-button {
    color: #fff;
    background: #be6123 ;
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    width: 200px !important;
    text-align: center;
    border-radius: 30px;
    transition: 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-post-button:hover {
    color: #fff;
    text-decoration: none;
    background: #cf7f4c ;
}

.total-post {
    text-align: center;
}

.post-form {
    width: 500px;
}

.add-post-button-form {
    background-color: #fff !important;
    color: #be6123 !important;
    border: #be6123 1px solid !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 50px;
    transition: 0.3s;
}

.add-post-button-form:hover {
    background-color: #be6123 !important;
    color: #fff !important;
}

.post-update-button {
    color: #fff;
    background-color: #2359be;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    border-radius: 20px;
    width: 180px;
    display: inline-block;
    transition: 0.3s;
}

.post-update-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #3f71ce;
}

.post-delete-button {
    color: #fff;
    background-color: #be2323;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    border-radius: 20px;
    width: 150px;
    display: inline-block;
    transition: 0.3s;
}

.post-delete-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #d14242;
}

.invalid-feedback {
    font-size: 18px !important;
}

.change-username-button-form {
    background-color: #fff !important;
    color: #be6123 !important;
    border: #be6123 1px solid !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 50px;
    transition: 0.3s;
}

.change-username-button-form:hover {
    background-color: #be6123 !important;
    color: #fff !important;
}

.change-username-button {
    background-color: #fff !important;
    color: #be6123 !important;
    border: #be6123 1px solid !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px !important;
    display: block;
}

.change-username-button:hover {
    background-color: #be6123 !important;
    color: #fff !important;
    text-decoration: none;
}

.change-password-button {
    background-color: #fff !important;
    color: #be6123 !important;
    border: #be6123 1px solid !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px !important;
    display: block;
}

.change-password-button:hover {
    background-color: #be6123 !important;
    color: #fff !important;
    text-decoration: none;
}

.delete-profile-confirmation {
    background-color: #d10b0b !important;
    color: #fff !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px !important;
    display: block;
}

.delete-profile-confirmation:hover {
    background-color: #ee2525 !important;
}

.delete-profile-button {
    background-color: #d10b0b !important;
    color: #fff !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px !important;
    display: block;
}

.delete-profile-button:hover {
    text-decoration: none;
    background-color: #ee2525 !important;
}

.cancel-button {
    background-color: #0b61d1 !important;
    color: #fff !important;
    text-align: center;
    border: none;
    padding: 8px;
    width: 205px;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px !important;
    display: block;
}

.cancel-button:hover {
    text-decoration: none;
    background-color: #3880df !important;
}

.dashboard-list {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.follower {
    text-align: center;
}

.text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.follower-text {
    text-align: center;
}
.follow-text {
    text-align: center;
    margin-left: 50px;
}

.follow-button {
    margin-top: 10px;
    display: block;
    text-align: center;
    background-color: #be6123;
    color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    width: 130px; 
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
}

.follow-button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #db8348;
}



